
 @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Titillium Web", sans-serif;
   list-style-type: none;
}
body {
        
   background: #fcefd3e3;
}

.shopping-cart {
   margin-left: 10px;
   font-size: 1.4rem;
   color: rgb(239, 242, 247);
}

.shopping-cart .sum-prices {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#sum-prices {
   padding-left: 5px;
}

.sum-prices h6 {
   font-size: 0.9rem;
}

.shoppingCartButton {
   cursor: pointer;
}

.shoppingCartButton:hover  {
   color: #eb0a0a;
}

.producstOnCart {
  -ms-overflow-style: none;  /*  IE and Edge */
   scrollbar-width: thin;
   overflow: hidden;
   overflow-y: scroll;
   scroll-behavior: smooth;
   overscroll-behavior: contain;
   background-color: rgba(167, 158, 158, 0.966);
   width: 300px;
   height: 500px;
   color: #0a4eb4;
   z-index: 15;
   position: fixed;
   top: 20px;
   right: 0;
   text-align: center;
   animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
   display: block;
  background: rgba(100, 100, 104, 0.788);
}


@keyframes fade {
   0% {
       transform: translateX(100%);
   }
   100% {
       transform: none;
   }
}

.hide {
   display: none;
   visibility: none;
}

.producstOnCart ul {
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.producstOnCart .buyItem {
   border-bottom: #0a4eb4 1px solid;
   width: 90%;
   padding: 10px 0;
   display: flex;
}

.producstOnCart img {
   width: 60px;
}

.producstOnCart .top {
   display: flex;
   background-color: #0a4eb4 ;
   color:  rgb(8, 9, 10);
   text-align: center;
   padding: 10px 0;
   position: sticky;
   top: 0;
   width: 100%;
}

.top button {
   background: transparent;
   border: none;
   font-size: 1.5rem;
   margin-left: 10px;
   color: white;
   cursor: pointer;
}

.top button:hover {
   color: #e64141;
}

.top h3 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   margin: 0 auto;
}

.producstOnCart > .checkout {
   font-size: 0.9rem;
   margin: 20px auto;
}

.overlay {
   overflow: hidden;
   display: inline-block;
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: -1;
   background: rgba(85, 83, 83, 0.5);
}

.buyItem h6 {
   margin-bottom: 10px;
}

.buyItem button {
   background: transparent;
   color: #fff;
   cursor: pointer;
   font-weight: 900;
   font-size: 1.2rem;
   padding: 0 6px;
   border: none;
}

.buyItem button:active {
   color: #96c8cc;
}

.buyItem > div {
   padding: 0 20px;
}

.producstOnCart .empty {
   justify-self: center;
   margin: 150px auto;
}

 h1 {
     text-align: center;
     margin-bottom: 20px
   }
   #newReleases > div,
   #popularSubjects > div,
   #bestSellers > div {
     display: flex;
     justify-items: center;
     margin-left: 7%;
   }

    .navbar-brand{
        font:bolder ;
        font-size: larger ;
        color: rgb(12, 14, 17) ;   
    }

   img  .d-inline-block{
        width:50 ;
        height: 30;

    }
    .qoute1{
        color: rgb(247, 249, 251) ;
        font-size:large ;
        font: 1.5em sans-serif ;
        font: caption ;      
    }

    .qoute2{
        color: rgb(8, 9, 10) ;
        font-size:larger ;
        font: 1.5em sans-serif ;
        font: caption ;
    }
    /* login and register pages */
  main{
     margin: 10%;
     background-color: rgba(243, 190, 199, 0.37);
  }
      

  .account-block1 {
   padding: 0;
   background-image: url(images/download.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.8;
   height: 100%;
   position: relative;
}


.account-block1 .account-testimonial {
   text-align: center;
   color: #fff;
   position: absolute;
   margin: 0 auto;
   padding: 0 1.75rem;
   bottom: 3rem;
   left: 0;
   right: 0;
}


  .account-block {
      padding: 0;
      background-image: url(images/images.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
      height: 100%;
      position: relative;
  }


  .account-block .account-testimonial {
      text-align: center;
      color: #fff;
      position: absolute;
      margin: 0 auto;
      padding: 0 1.75rem;
      bottom: 3rem;
      left: 0;
      right: 0;
  }

  .text-theme {
      color: #5369f8 ;
  }


  #login-error-msg-holder {
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
  }

  #login-error-msg {
      text-align: center;
      margin: 0;
      padding: 5px;
      font-size: 12px;
      font-weight: bold;
      color: #8a0000;
      background-color: #e58f8f;
      opacity: 0;
  }